body{
  background-color: lightcyan;
}

h1{
  color: #66BFBF;
}

h3{
  color: #66BFBF;
}


hr{



        border-color: lightgray;
        border-style:none;
        border-top-style: dotted;
        border-width: 10px;
        height: 1px;
        width: 5%;
}
